SDGJ2020/intermediate/
SDGJ2020/build/
SDGJ2020/.vs/
external-projects/box2d-proj/src/box2d.dir/
external-projects/box2d-proj/src/extern/glad/cmake_install.cmake
external-projects/box2d-proj/src/extern/glad/CMakeFiles/generate.stamp.depend
external-projects/box2d-proj/src/extern/glad/glad.vcxproj
external-projects/box2d-proj/src/extern/glad/glad.vcxproj.filters
external-projects/box2d-proj/src/extern/glfw/cmake_install.cmake
external-projects/box2d-proj/src/extern/glfw/CMakeFiles/generate.stamp.depend
external-projects/box2d-proj/src/extern/glfw/glfw.vcxproj
external-projects/box2d-proj/src/extern/glfw/glfw.vcxproj.filters
external-projects/box2d-proj/src/extern/imgui/cmake_install.cmake
external-projects/box2d-proj/src/extern/imgui/CMakeFiles/generate.stamp.depend
external-projects/box2d-proj/src/extern/imgui/imgui.vcxproj
external-projects/box2d-proj/src/extern/imgui/imgui.vcxproj.filters
external-projects/box2d-proj/src/extern/sajson/cmake_install.cmake
external-projects/box2d-proj/src/extern/sajson/CMakeFiles/generate.stamp.depend
external-projects/box2d-proj/src/extern/sajson/sajson.vcxproj
external-projects/box2d-proj/src/extern/sajson/sajson.vcxproj.filters
external-projects/box2d-proj/src/Release/
external-projects/box2d-proj/src/src/box2d.vcxproj
external-projects/box2d-proj/src/CMakeFiles/
external-projects/box2d-proj/src/CMakeCache.txt
*/CMakeFiles/
external-projects/glm-proj/glm/glm_static.dir/
SDGJ2020/x64/
external-projects/box2d-proj/src/src/
*.cmake
external-projects/glm-proj/glm/Debug/
external-projects/glm-proj/glm/Release/
external-projects/box2d-proj/src/unit-test/unit_test.vcxproj*
*glad.vcxproj*
*glfw.vcxproj*
*sajson.vcxproj*
external-projects/box2d-proj/src/extern/*/CMakeFiles/
external-projects/box2d-proj/src/testbed/testbed.vcxproj*
external-projects/box2d-proj/src/ALL_BUILD.vcxproj*
external-projects/box2d-proj/src/Debug/
external-projects/box2d-proj/src/ZERO_CHECK.vcxproj*
external-projects/box2d-proj/src/box2d.sln
external-projects/box2d-proj/src/extern/imgui/imgui.vcxproj*
external-projects/box2d-proj/src/unit-test/CMakeFiles/
external-projects/box2d-proj/src/C/